{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=<YOUR_SERVER>;Database=LuckyWheelDb;Trusted_Connection=True;TrustServerCertificate=True;"
  }
}
